
.main-container {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.content-container {
    height: 100%;
    margin: auto;
    width: 51%;
    min-width: 400px;
    padding: 10px;
    background-color: #1B1F23;
}

.news-container {
    position: absolute;
    min-width: 400px;
    padding-top: 50px;
    background-color: whitesmoke;
}

#column-container {
    padding: 10px;
    margin: 10px;
}

.title {
    font-size: 0.6em;
    font-weight: 700;
    color: #686F73;
}

img {
    width: 100%;
    height: auto;
    padding: 17px;
}