<div class="main-container">
    <app-header></app-header>
    <div class="content-container">

        <div class="row">
            <div class="col" id="column-container">

                <div class="title">RANKING</div>
                <app-ranking-preview></app-ranking-preview>

                <div class="title">EVENTS</div>
                <app-events-preview></app-events-preview>
            </div>
            <div class="col-6" id="column-container">
                <img src="assets/banner.png" alt="logo" class="logo">
                <app-news-tile [newsTitle]="siemaTitle" ></app-news-tile>
                <app-news-tile [newsTitle]="siemaTitle" ></app-news-tile>
                <app-news-tile [newsTitle]="siemaTitle" ></app-news-tile>
            </div>
            <div class="col" id="column-container">
                <app-matches-preview></app-matches-preview>
            </div>
        </div>
    </div>
</div>